body {
    font-family: 'Inter', sans-serif;
    font-family: 'Karla', sans-serif;
    margin: 10%;
    height:500px;
    width:600px;
    background-color:#1F2937;
    color:hsl(175, 60%, 92%);
    line-height:30px;
    white-space:nowrap; 
    border-radius:10px;
    border:3px solid hsl(175, 60%, 92%);
    padding:20px;
}

h1{
    font:"Karla";
    font-size:40px;
    font-weight:800;
    line-height:10px;
}

h3{
    font:"Inter";
    line-height: 40px;
    font-size:20px;
    font-weight:400;
}

#secondh1{
    color:#4ADF86;
}

.separate{
    display:block;
    text-align:center;
    flex-direction:row;
    justify-content: center;
}

#length{
    display:flex;
    height: 25px;
    border:none;
    border-radius:5px;
    background-color:#273549;
    color:#4ADF86;
    text-align:center;
}
#length::-webkit-inner-spin-button,
#length::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin:o;
}
#length::placeholder{
    color:hsl(175, 60%, 92%);
}

#submitButton{
    margin:30px 0;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    background-color:  #10B981;
    color:hsl(175, 60%, 92%);
    display:flex;
    border:none;
    border-radius: 5px;
    line-height:24px;
    font-size:16px;
}

.flexx{
    border-top:2px solid #2F3E53;
    display:flex;
    justify-content:space-between;
    align-items: center;
    text-align:center;
    font:"Inter";
    
}

#character-el{
    background-color:#273549;
    border-radius:6px;
    border-top:2px solid #273549;
    border-left:6px solid #273549;
    border-bottom:2px solid #273549;
    border-right:6px solid #273549;
    font-size:small;
    color:#55F991;
    width: 271px;
    height: 39px;
    left: 52px;
    top: 396px;
    margin-right:10px;
    margin-top:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#character-el2{
    background-color:#273549;
    border-radius:6px;
    border-top:2px solid #273549;
    border-left:6px solid #273549;
    border-bottom:2px solid #273549;
    border-right:6px solid #273549;
    font-size:small;
    color:#55F991;
    width: 271px;
    height: 39px;
    left: 52px;
    top: 396px;
    margin-left:10px;
    margin-top:30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#description{
    font-size:medium;
    font-weight: 200;
    line-height:15px;
    color: rgb(194, 189, 189);
}

